@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
/* font-family: 'Playfair Display', serif; */

.loginHeadAndButton{
    display: flex;
    align-items: center; 
    justify-content:flex-start; 
    margin: auto 0;
    min-height: 90vh;
}
/* Header section */
.login-header {
    color: #808e9b;
    font-family: 'Playfair Display', serif; 
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 500px;
    margin-left: 800px;
}

.login-header #one{
    font-size: 55px;
    color: #42474d;
    margin-bottom: -30px;
}
.login-button {
    width: 1000px;
    padding: 30%;
    background-color: #e5eef7;
    color: #fff;
    border:#808e9b;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px; 
    margin-right: 400px;
    margin-left: -250px;
}

.login-button:hover{
    background-color: bisque;
}

/* Navigation buttons */
.navigation {
    position: absolute;
    top: 20px;
    right: 20px;
}

.navigation button, .login-button{
    padding: 5px 10px;
    background-color: #6f8cac;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navigation button{
    margin-left: 10px; /* Adjust margin between buttons */
}

.navigation button:hover{
    background-color: rgb(138, 188, 232);
}

.secondLogo {
    position: relative; 
}
.secondLogo img{
    width: 800px;
    height: auto;
    position: absolute;
    top: -850px;
    right: 710px;
}

.lady-image img{
    width: 900px;
    height: auto;
    margin-bottom: 0px;
}
.stat img{
    margin-right: 100px;
    margin-top: 100px;
    width: 500px;
    height: auto;
}

/* Purpose and Mission sections */
.purpose, .mission {
    flex: 1; /* Fill remaining space */
    margin: 20px; /* Add margin for spacing */
    padding: 30px;
    background-color: bisque;
    border: #6f8cac;
    border-radius: 10px;
    width: 450px;
    height: 350px;
    position: absolute;
    top: 100px;
}

.purpose{
    left: 60%;
}

.mission{
    right: 60%;
}

.purpose h3, .mission h3 {
    margin-bottom: 10px; /* Add margin below headings */
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}

.login-page{
    background-color: beige;
}

.purpose-page, .mission-page{
    display: flex;
    margin-top: 0px;
    min-height: 100vh;
    position: relative;
    margin-bottom: 0;
}

.purpose-page{
    background-color: #808e9b;
}
.mission-page{
    background-color: rgb(218, 169, 96);
    justify-content: flex-end;
}
